{% extends "base.html" %}

{% block title %}
    Экотекс
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include "../includes/hello.html" %}
    {% else %}
        {% include "../includes/form_reg.html" %}
    {% endif %}
    {% comment %} {% if tg_user %}
        {% include "../includes/hello.html" %}
    {% elif not tg_user and not errors%}
        {% include "../includes/form_reg.html" %}
    {% elif errors %}
        {% include "../includes/error.html" %}
    {% endif %} {% endcomment %}
{% endblock content %}
