{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/css/bootstrap.min.css" %}>
    <link rel="icon" href={% static "styles/images/fav/fav16.png" %}>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>{% include "includes/header.html" %}</header>
    <main class="bg-light py-5">{% block content %}{% endblock %}</main>
    <script src={% static "styles/js/bootstrap.min.js" %}></script>
</body>
</html>
