{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles/css/bootstrap.min.css" %}>
    <link rel="icon" href={% static "styles/images/fav/favicon-32x32.png" %}>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>{% include "includes/header.html" %}</header>
    {% comment %} {% with m=request.resolver_match %}
        {% if request.user.is_authenticated and m.url_name == "home" %}
            {% include "includes/hello.html" %}
        {% elif request.user.is_authenticated and m.url_name == "info" %}
            {% include "includes/info.html" %}
        {% endif %}
    {% endwith %} {% endcomment %}

    <main class="bg-white border rounded shadow-sm">
        {% block content %}{% endblock %}
    </main>
    <script src={% static "styles/js/bootstrap.min.js" %}></script>
</body>
</html>
